{% extends "main.html" %}
{% block body %}

	{% for user in users %}
	<div class="user-entry" id="user-{{ user[0] }}">
		<strong>Username : </strong>{{ user[0] }}<br />
		<strong>Email    : </strong>{{ user[1] }}<br />
		<button onclick="approve('{{ user[0] }}')" type="button" class="btn btn-success">Approve</button>
		<button onclick="deny('{{ user[0] }}')" type="button" class="btn btn-warning">Deny</button>
	</div>
	{% else %}
	<h1>Nobody's waiting for approval.</h1>
	{% endfor %}

	<br />

	<a href="/admin/logout" class="w-100"><button type="button" class="btn btn-danger w-100">Logout</button></a>
{% endblock %}
