<!doctype html>
<html lang="en">
	<head>
		<title>{{ config.WEBSITE_NAME }} - Registration</title>
		<!-- Required meta tags -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/main.css">
		<script src='https://www.google.com/recaptcha/api.js'></script>
	</head>
	<body>
		<div class="container-fluid" id="login-container">
			<div class="loginmodal-container">
				<img src="/img/logo.png" alt="logo" class="embed-responsive">
				{% block body %}{% endblock %}
			</div>
		</div>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then tether.js, then Popper.js, then Bootstrap JS -->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/tether.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/main.js"></script>
	</body>
</html>
