{% extends "main.html" %}
{% block body %}

	<br />

	<div class="alert alert-danger" role="alert" id="error" hidden></div>

	<div id="registration-form">
		<input type="text" name="username" placeholder="Username...">

		{% if config.ASK_EMAIL_ADDRESS %}
		<input type="email" name="email" placeholder="Email..." data-toggle="tooltip" data-placement="right" title="(Optional) Will only be used to send you a notification when the admin approves your registration">
		{% endif %}


		<input type="password" name="password" placeholder="Password...">
		<input type="password" name="confirm_password" placeholder="Confirm password...">
		{{ recaptcha }}
		<input type="submit" name="register" class="login loginmodal-submit" value="Register" id="submit-button-register">
	</div>

{% endblock %}
